/* --- WHOLE PAGE SETTINGS --- */
:root {
  --hero-color: #67B2D8;
}

@font-face {
  font-family: my-roboto;
  src: url("assets/fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: my-play-fair;
  src: url("assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: my-play-fair, Arial, Helvetica, sans-serif;
}

/* --- HEADER PART --- */
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header angled background color */
header::before {
  background-color: var(--hero-color);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  overflow: hidden;
  transform: rotate(-7deg);
  transform: skewY(-7deg);
  transform-origin: top left;
}

header > * {
  z-index: 2;
  position: relative;
}

header section {
  padding: 2rem;
}

.about-me-container {
  background-color: white;
}

/* make text wrap around the image */
.hero-image-container {
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* make text be inside image and at the bottom */
.hero-image-container h1 {
  position: absolute;
  bottom: 1rem;
  color: white;
}

/* default width of image on load */
.monkey-header {
  width: 400px;
  height: auto;
}

/* put hero link icons to the right */
.hero-link-icons-container {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.hero-link-icon {
  height: auto;
  width: 30px;
}

/* --- MAIN PART --- */
main {
  flex: 1;
}

/* --- FOOTER PART --- */
footer {
  background-color: var(--hero-color);
}

@media (min-width: 1000px) {
  section.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
}