/* Whole page settings */
:root {
  --hero-color: #0AC4E0;
}

@font-face {
  font-family: my-roboto;
  src: url("assets/fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: my-play-fair;
  src: url("assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: my-play-fair, Arial, Helvetica, sans-serif;
}

/* Header part */
header {
  background-color: var(--hero-color);
}

.hero-link-icon {
  height: auto;
  width: 30px;
}

/* Main part */
main {
  flex: 1;
}

/* Footer part */
footer {
  background-color: var(--hero-color);
}